/* Стиль для полученных сообщений (слева) */
.received-message {
    -fx-background-color: #E1E1E1;
    -fx-padding: 10px;
    -fx-background-radius: 10px;
    -fx-max-width: 70%;
    -fx-alignment: center-left;
}

/* Стиль для отправленных сообщений (справа) */
.sent-message {
    -fx-background-color: #0078D7;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-background-radius: 10px;
    -fx-max-width: 70%;
    -fx-alignment: center-right;
}